.header-card {
  border-radius: 0px !important;
}

.landing-tagline {
  font-size: 3rem;
}

.text-pink {
  color: #ff3d71;
}

.bg-pink {
  background-color: #f1c9d4;
}

.bg-dark-grey {
  background-color: rgba(0, 0, 0, 0.753);
}

.letter-spacing {
  letter-spacing: 0.1em;
}

.landing-discover {
  font-size: 2rem;
}

.landing-discover-location {
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  #discover-event {
    font-size: 12px;
  }

  .landing-banner-landscape {
    display: 50%;
  }

  .landing-tagline {
    font-size: 1.5rem;
  }

  .search-event {
    justify-content: center;
  }

  .main-container {
    margin-top: 50px;
  }

  .landing-discover {
    font-size: 1rem;
  }

  .landing-location {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 425px) {
  .landing-tagline {
    font-size: 1.5rem;
  }

  .landing-discover {
    font-size: 0.5rem;
  }
}
